lombok.addLombokGeneratedAnnotation = true
config.stopBubbling = true

lombok.fieldDefaults.defaultPrivate = true

# Getter & Setter - https://projectlombok.org/features/GetterSetter
lombok.accessors.chain = true
#lombok.accessors.fluent = true  ## @ModelAttribute looks for the classic get* & set* convention, so this should be kept for now.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

